<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CargoTemplate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddadminServlet</display-name>
    <servlet-name>AddadminServlet</servlet-name>
    <servlet-class>com.controller.AddadminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddadminServlet</servlet-name>
    <url-pattern>/addadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EstimationCostServlet</display-name>
    <servlet-name>EstimationCostServlet</servlet-name>
    <servlet-class>com.controller.EstimationCost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EstimationCostServlet</servlet-name>
    <url-pattern>/EstimationCost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminServlet</display-name>
    <servlet-name>ViewAdminServlet</servlet-name>
    <servlet-class>com.controller.ViewAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminServlet</servlet-name>
    <url-pattern>/Viewadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourierServlet</display-name>
    <servlet-name>AddCourierServlet</servlet-name>
    <servlet-class>com.controller.AddCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourierServlet</servlet-name>
    <url-pattern>/AddCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourierServlet</display-name>
    <servlet-name>DeleteCourierServlet</servlet-name>
    <servlet-class>com.controller.DeleteCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourierServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCourierServlet</display-name>
    <servlet-name>ViewCourierServlet</servlet-name>
    <servlet-class>com.controller.ViewCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCourierServlet</servlet-name>
    <url-pattern>/ViewCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCourierServlet</display-name>
    <servlet-name>EditCourierServlet</servlet-name>
    <servlet-class>com.controller.EditCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCourierServlet</servlet-name>
    <url-pattern>/EditCourier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdminServlet</display-name>
    <servlet-name>EditAdminServlet</servlet-name>
    <servlet-class>com.controller.EditAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdminServlet</servlet-name>
    <url-pattern>/EditAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>com.controller.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEstimationServlet</display-name>
    <servlet-name>UserEstimationServlet</servlet-name>
    <servlet-class>com.controller.UserEstimationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEstimationServlet</servlet-name>
    <url-pattern>/UserEstimation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCourierServlet</display-name>
    <servlet-name>SearchCourierServlet</servlet-name>
    <servlet-class>com.controller.SearchCourierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCourierServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
</web-app>